.netrwhist

/backup/*
!/backup/.keep
/swap/*
!/swap/.keep
/undo/*
!/undo/.keep
/view/*
!/view/.keep

/backups/*
/tmp/*

/plugins.local
/vimrc.local
/gvimrc.local

/bundle/*
!/bundle/airline
!/bundle/airline-themes
!/bundle/apiblueprint
!/bundle/base16
!/bundle/coffee-script
!/bundle/commentary
!/bundle/css-color
!/bundle/css3
!/bundle/dash
!/bundle/Dockerfile
!/bundle/editorconfig
!/bundle/fugitive
!/bundle/gnupg
!/bundle/go
!/bundle/handlebars
!/bundle/hashicorp-tools
!/bundle/html5
!/bundle/ir_black
!/bundle/javascript
!/bundle/jinja2
!/bundle/jquery
!/bundle/kitty
!/bundle/kotlin
!/bundle/less
!/bundle/markdown
!/bundle/molokai
!/bundle/obsidian
!/bundle/powershell
!/bundle/puppet
!/bundle/ragtag
!/bundle/rails
!/bundle/ruby
!/bundle/rust
!/bundle/scala
!/bundle/signify
!/bundle/solarized
!/bundle/stylus
!/bundle/surround
!/bundle/swift
!/bundle/swig
!/bundle/syntastic
!/bundle/systemd
!/bundle/thrift
!/bundle/tmux
!/bundle/toml
!/bundle/typescript
!/bundle/unite
!/bundle/vimproc
!/bundle/xcconfig
!/bundle/zenburn
!/bundle/zig
