[submodule "bundle/html5"]
	path = bundle/html5
	url = git://github.com/othree/html5.vim.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/haml"]
	path = bundle/haml
	url = git://github.com/tpope/vim-haml.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/thrift"]
	path = bundle/thrift
	url = git://github.com/sprsquish/thrift.vim.git
[submodule "bundle/cocoa"]
	path = bundle/cocoa
	url = git://github.com/msanders/cocoa.vim.git
[submodule "bundle/jquery"]
	path = bundle/jquery
	url = git://github.com/nono/jquery.vim.git
[submodule "pathogen"]
	path = pathogen
	url = git://github.com/vim-scripts/pathogen.vim.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = git://github.com/vim-scripts/pyflakes.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/nginx"]
	path = bundle/nginx
	url = git://github.com/vim-scripts/nginx.vim
[submodule "bundle/less"]
	path = bundle/less
	url = git://github.com/groenewege/vim-less.git
[submodule "bundle/mako"]
	path = bundle/mako
	url = git://github.com/vim-scripts/mako.vim
[submodule "bundle/handlebars"]
	path = bundle/handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "bundle/puppet"]
	path = bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "bundle/ragtag"]
	path = bundle/ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
