[submodule "bundle/html5"]
	path = bundle/html5
	url = git://github.com/othree/html5.vim.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/haml"]
	path = bundle/haml
	url = git://github.com/tpope/vim-haml.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/thrift"]
	path = bundle/thrift
	url = git://github.com/sprsquish/thrift.vim.git
[submodule "bundle/cocoa"]
	path = bundle/cocoa
	url = git://github.com/msanders/cocoa.vim.git
[submodule "bundle/jquery"]
	path = bundle/jquery
	url = git://github.com/nono/jquery.vim.git
[submodule "pathogen"]
	path = pathogen
	url = git://github.com/vim-scripts/pathogen.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/nginx"]
	path = bundle/nginx
	url = git://github.com/vim-scripts/nginx.vim
[submodule "bundle/less"]
	path = bundle/less
	url = git://github.com/groenewege/vim-less.git
[submodule "bundle/mako"]
	path = bundle/mako
	url = git://github.com/vim-scripts/mako.vim
[submodule "bundle/handlebars"]
	path = bundle/handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "bundle/puppet"]
	path = bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "bundle/ragtag"]
	path = bundle/ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = git://github.com/pearofducks/vim-powerline.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/clojure"]
	path = bundle/clojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/jinja2"]
	path = bundle/jinja2
	url = git://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "bundle/funcoo"]
	path = bundle/funcoo
	url = git://github.com/rizzatti/funcoo.vim.git
[submodule "bundle/dash"]
	path = bundle/dash
	url = git://github.com/rizzatti/dash.vim.git
[submodule "bundle/ios"]
	path = bundle/ios
	url = git://github.com/eraserhd/vim-ios.git
[submodule "bundle/kiwi"]
	path = bundle/kiwi
	url = git://github.com/vim-scripts/kiwi.vim.git
[submodule "bundle/tmux"]
	path = bundle/tmux
	url = git://github.com/zaiste/tmux.vim
[submodule "bundle/gnupg"]
	path = bundle/gnupg
	url = git://github.com/vim-scripts/gnupg.vim
[submodule "bundle/systemverilog"]
	path = bundle/systemverilog
	url = git://github.com/vim-scripts/systemverilog.vim
[submodule "bundle/go"]
	path = bundle/go
	url = git://github.com/jnwhiteh/vim-golang.git
[submodule "bundle/scala"]
	path = bundle/scala
	url = git://github.com/derekwyatt/vim-scala.git
[submodule "bundle/rust"]
	path = bundle/rust
	url = git://github.com/rust-lang/rust.vim.git
[submodule "bundle/swift"]
	path = bundle/swift
	url = git://github.com/keith/swift.vim.git
